body {
    background-color: #ff8be0;
    background-image: linear-gradient(90deg, #ff8be0 0%, #e36aff 55%, #ffffff 100%);


}

header {
    display: flex;
    justify-content: center;
}
.nav_lista{
    display: flex;
    list-style: none;
    justify-content: center;
    font-size: 40px;
    gap: 28px;
    text-transform: uppercase;
    }
    
    .nav_item:hover {
        cursor: pointer;
        background-color: aliceblue;
        color: black;
    }